
Lesson1/Lesson1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Lesson1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/Lesson1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/Lesson1/obj/Debug/Lesson1.csprojAssemblyReference.cache
Lesson1/Lesson1/obj/Debug/Lesson1.csproj.CoreCompileInputs.cache
Lesson1/Lesson1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/Lesson1/Lesson1.csproj
Lesson1/Lesson1/App.config
Lesson1/Lesson1.sln
Lesson1/.vs/Lesson1/v15/Server/sqlite3/storage.ide-wal
Lesson1/.vs/Lesson1/v15/Server/sqlite3/storage.ide-shm
Lesson1/.vs/Lesson1/v15/Server/sqlite3/storage.ide
Lesson1/.vs/Lesson1/v15/Server/sqlite3/db.lock
Lesson1/.vs/Lesson1/v15/.suo
Lesson1/Lesson1/Properties/AssemblyInfo.cs
Lesson1/ConsoleApp1/App.config
Lesson1/ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
Lesson1/ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/ConsoleApp1/obj/Debug/Task2.csproj.CoreCompileInputs.cache
Lesson1/ConsoleApp1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/ConsoleApp1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/ConsoleApp1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/ConsoleApp1/Properties/AssemblyInfo.cs
Lesson1/ConsoleApp1/Task2.csproj
Lesson1/Lesson1/obj/Debug/Task1.csproj.CoreCompileInputs.cache
Lesson1/Lesson1/Task1.csproj
Lesson1/Task3/App.config
Lesson1/Task3/bin/Debug/Task3.exe
Lesson1/Task3/bin/Debug/Task3.exe.config
Lesson1/Task3/bin/Debug/Task3.pdb
Lesson1/Task3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/Task3/obj/Debug/Task3.csproj.CoreCompileInputs.cache
Lesson1/Task3/obj/Debug/Task3.csproj.FileListAbsolute.txt
Lesson1/Task3/obj/Debug/Task3.csprojAssemblyReference.cache
Lesson1/Task3/obj/Debug/Task3.exe
Lesson1/Task3/obj/Debug/Task3.pdb
Lesson1/Task3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/Task3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/Task3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Task3/Properties/AssemblyInfo.cs
Lesson1/Task3/Task3.csproj
Lesson1/Task4/App.config
Lesson1/Task4/bin/Debug/Task4.exe
Lesson1/Task4/bin/Debug/Task4.exe.config
Lesson1/Task4/bin/Debug/Task4.pdb
Lesson1/Task4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/Task4/obj/Debug/Task4.csproj.CoreCompileInputs.cache
Lesson1/Task4/obj/Debug/Task4.csproj.FileListAbsolute.txt
Lesson1/Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Lesson1/Task4/obj/Debug/Task4.exe
Lesson1/Task4/obj/Debug/Task4.pdb
Lesson1/Task4/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/Task4/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/Task4/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Task4/Properties/AssemblyInfo.cs
Lesson1/Task4/Task4.csproj
Lesson1/Task5/App.config
Lesson1/Task5/bin/Debug/Task5.exe
Lesson1/Task5/bin/Debug/Task5.exe.config
Lesson1/Task5/bin/Debug/Task5.pdb
Lesson1/Task5/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/Task5/obj/Debug/Task5.csproj.CoreCompileInputs.cache
Lesson1/Task5/obj/Debug/Task5.csproj.FileListAbsolute.txt
Lesson1/Task5/obj/Debug/Task5.csprojAssemblyReference.cache
Lesson1/Task5/obj/Debug/Task5.exe
Lesson1/Task5/obj/Debug/Task5.pdb
Lesson1/Task5/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/Task5/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/Task5/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Task5/Properties/AssemblyInfo.cs
Lesson1/Task5/Task5.csproj
Lesson1/Task6/App.config
Lesson1/Task6/bin/Debug/Task6.exe
Lesson1/Task6/bin/Debug/Task6.exe.config
Lesson1/Task6/bin/Debug/Task6.pdb
Lesson1/Task6/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/Task6/obj/Debug/Task6.csproj.CoreCompileInputs.cache
Lesson1/Task6/obj/Debug/Task6.csproj.FileListAbsolute.txt
Lesson1/Task6/obj/Debug/Task6.csprojAssemblyReference.cache
Lesson1/Task6/obj/Debug/Task6.exe
Lesson1/Task6/obj/Debug/Task6.pdb
Lesson1/Task6/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/Task6/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/Task6/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Task6/Properties/AssemblyInfo.cs
Lesson1/Task6/Task6.csproj
Lesson2/.vs/Lesson2/v15/.suo
Lesson2/.vs/Lesson2/v15/Server/sqlite3/db.lock
Lesson2/.vs/Lesson2/v15/Server/sqlite3/storage.ide
Lesson2/.vs/Lesson2/v15/Server/sqlite3/storage.ide-shm
Lesson2/.vs/Lesson2/v15/Server/sqlite3/storage.ide-wal
Lesson2/Lesson2.sln
Lesson2/Lesson2/App.config
Lesson2/Lesson2/Lesson2.csproj
Lesson2/Lesson2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Lesson2/obj/Debug/Lesson2.csproj.CoreCompileInputs.cache
Lesson2/Lesson2/obj/Debug/Lesson2.csprojAssemblyReference.cache
Lesson2/Lesson2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Lesson2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Lesson2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Lesson2/Properties/AssemblyInfo.cs
Lesson2/Lesson2/bin/Debug/Lesson2.exe
Lesson2/Lesson2/bin/Debug/Lesson2.pdb
Lesson2/Lesson2/bin/Debug/Lesson2.exe.config
Lesson2/Lesson2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Lesson2/Lesson2/obj/Debug/Lesson2.exe
Lesson2/Lesson2/obj/Debug/Lesson2.pdb
Lesson2/Lesson2/obj/Debug/Task1.csproj.CopyComplete
Lesson2/Lesson2/obj/Debug/Task1.csproj.CoreCompileInputs.cache
Lesson2/Lesson2/obj/Debug/Task1.csproj.FileListAbsolute.txt
Lesson2/Lesson2/obj/Debug/Task1.csprojAssemblyReference.cache
Lesson2/Lesson2/Task1.csproj
Lesson2/Lesson2/Task1.csproj.user
LessonsClassLibrary/.vs/LessonsClassLibrary/v15/.suo
LessonsClassLibrary/.vs/LessonsClassLibrary/v15/Server/sqlite3/db.lock
LessonsClassLibrary/.vs/LessonsClassLibrary/v15/Server/sqlite3/storage.ide
LessonsClassLibrary/.vs/LessonsClassLibrary/v15/Server/sqlite3/storage.ide-shm
LessonsClassLibrary/.vs/LessonsClassLibrary/v15/Server/sqlite3/storage.ide-wal
LessonsClassLibrary/LessonsClassLibrary.sln
LessonsClassLibrary/LessonsClassLibrary/bin/Debug/LessonsClassLibrary.dll
LessonsClassLibrary/LessonsClassLibrary/bin/Debug/LessonsClassLibrary.pdb
LessonsClassLibrary/LessonsClassLibrary/bin/Release/LessonsClassLibrary.dll
LessonsClassLibrary/LessonsClassLibrary/bin/Release/LessonsClassLibrary.pdb
LessonsClassLibrary/LessonsClassLibrary/bin/Release/LessonsClassLibrary.xml
LessonsClassLibrary/LessonsClassLibrary/LessonsClassLibrary.csproj
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/LessonsClassLibrary.csproj.CoreCompileInputs.cache
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/LessonsClassLibrary.csproj.FileListAbsolute.txt
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/LessonsClassLibrary.csprojAssemblyReference.cache
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/LessonsClassLibrary.dll
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/LessonsClassLibrary.pdb
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LessonsClassLibrary/LessonsClassLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LessonsClassLibrary/LessonsClassLibrary/obj/Release/DesignTimeResolveAssemblyReferences.cache
LessonsClassLibrary/LessonsClassLibrary/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LessonsClassLibrary/LessonsClassLibrary/obj/Release/LessonsClassLibrary.csproj.CoreCompileInputs.cache
LessonsClassLibrary/LessonsClassLibrary/obj/Release/LessonsClassLibrary.csproj.FileListAbsolute.txt
LessonsClassLibrary/LessonsClassLibrary/obj/Release/LessonsClassLibrary.dll
LessonsClassLibrary/LessonsClassLibrary/obj/Release/LessonsClassLibrary.pdb
LessonsClassLibrary/LessonsClassLibrary/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LessonsClassLibrary/LessonsClassLibrary/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LessonsClassLibrary/LessonsClassLibrary/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LessonsClassLibrary/LessonsClassLibrary/Properties/AssemblyInfo.cs
Lesson2/Lesson2/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task2/App.config
Lesson2/Task2/bin/Debug/LessonsClassLibrary.dll
Lesson2/Task2/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task2/bin/Debug/LessonsClassLibrary.xml
Lesson2/Task2/bin/Debug/Task2.exe
Lesson2/Task2/bin/Debug/Task2.exe.config
Lesson2/Task2/bin/Debug/Task2.pdb
Lesson2/Task2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Task2/obj/Debug/Task2.csproj.CopyComplete
Lesson2/Task2/obj/Debug/Task2.csproj.CoreCompileInputs.cache
Lesson2/Task2/obj/Debug/Task2.csproj.FileListAbsolute.txt
Lesson2/Task2/obj/Debug/Task2.csprojAssemblyReference.cache
Lesson2/Task2/obj/Debug/Task2.exe
Lesson2/Task2/obj/Debug/Task2.pdb
Lesson2/Task2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Task2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Task2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Task2/Properties/AssemblyInfo.cs
Lesson2/Task2/Task2.csproj
Lesson2/Task3/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task3/bin/Debug/Task3.exe
Lesson2/Task3/bin/Debug/Task3.exe.config
Lesson2/Task3/bin/Debug/Task3.pdb
Lesson2/Task3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Task3/obj/Debug/Task3.csproj.CopyComplete
Lesson2/Task3/obj/Debug/Task3.csproj.CoreCompileInputs.cache
Lesson2/Task3/obj/Debug/Task3.csproj.FileListAbsolute.txt
Lesson2/Task3/obj/Debug/Task3.csprojAssemblyReference.cache
Lesson2/Task3/obj/Debug/Task3.exe
Lesson2/Task3/obj/Debug/Task3.pdb
Lesson2/Task3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Task3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Task3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Task3/App.config
Lesson2/Task3/Properties/AssemblyInfo.cs
Lesson2/Task3/Task3.csproj
Lesson2/Task4/App.config
Lesson2/Task4/bin/Debug/LessonsClassLibrary.dll
Lesson2/Task4/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task4/bin/Debug/LessonsClassLibrary.xml
Lesson2/Task4/bin/Debug/Task4.exe
Lesson2/Task4/bin/Debug/Task4.exe.config
Lesson2/Task4/bin/Debug/Task4.pdb
Lesson2/Task4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Task4/obj/Debug/Task4.csproj.CopyComplete
Lesson2/Task4/obj/Debug/Task4.csproj.CoreCompileInputs.cache
Lesson2/Task4/obj/Debug/Task4.csproj.FileListAbsolute.txt
Lesson2/Task4/obj/Debug/Task4.csprojAssemblyReference.cache
Lesson2/Task4/obj/Debug/Task4.exe
Lesson2/Task4/obj/Debug/Task4.pdb
Lesson2/Task4/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Task4/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Task4/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Task4/Properties/AssemblyInfo.cs
Lesson2/Task4/Task4.csproj
Lesson2/Task5/App.config
Lesson2/Task5/bin/Debug/LessonsClassLibrary.dll
Lesson2/Task5/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task5/bin/Debug/LessonsClassLibrary.xml
Lesson2/Task5/bin/Debug/Task5.exe
Lesson2/Task5/bin/Debug/Task5.exe.config
Lesson2/Task5/bin/Debug/Task5.pdb
Lesson2/Task5/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Task5/obj/Debug/Task5.csproj.CopyComplete
Lesson2/Task5/obj/Debug/Task5.csproj.CoreCompileInputs.cache
Lesson2/Task5/obj/Debug/Task5.csproj.FileListAbsolute.txt
Lesson2/Task5/obj/Debug/Task5.csprojAssemblyReference.cache
Lesson2/Task5/obj/Debug/Task5.exe
Lesson2/Task5/obj/Debug/Task5.pdb
Lesson2/Task5/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Task5/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Task5/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Task5/Properties/AssemblyInfo.cs
Lesson2/Task5/Task5.csproj
Lesson2/Task6/App.config
Lesson2/Task6/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Task6/obj/Debug/Task6.csproj.CoreCompileInputs.cache
Lesson2/Task6/obj/Debug/Task6.csprojAssemblyReference.cache
Lesson2/Task6/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Task6/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Task6/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Task6/Properties/AssemblyInfo.cs
Lesson2/Task6/Task6.csproj
Lesson2/Task6/bin/Debug/LessonsClassLibrary.dll
Lesson2/Task6/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task6/bin/Debug/LessonsClassLibrary.xml
Lesson2/Task6/bin/Debug/Task6.exe
Lesson2/Task6/bin/Debug/Task6.exe.config
Lesson2/Task6/bin/Debug/Task6.pdb
Lesson2/Task6/obj/Debug/Task6.csproj.CopyComplete
Lesson2/Task6/obj/Debug/Task6.csproj.FileListAbsolute.txt
Lesson2/Task6/obj/Debug/Task6.exe
Lesson2/Task6/obj/Debug/Task6.pdb
Lesson2/Task7/App.config
Lesson2/Task7/bin/Debug/LessonsClassLibrary.dll
Lesson2/Task7/bin/Debug/LessonsClassLibrary.pdb
Lesson2/Task7/bin/Debug/LessonsClassLibrary.xml
Lesson2/Task7/bin/Debug/Task7.exe
Lesson2/Task7/bin/Debug/Task7.exe.config
Lesson2/Task7/bin/Debug/Task7.pdb
Lesson2/Task7/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson2/Task7/obj/Debug/Task7.csproj.CopyComplete
Lesson2/Task7/obj/Debug/Task7.csproj.CoreCompileInputs.cache
Lesson2/Task7/obj/Debug/Task7.csproj.FileListAbsolute.txt
Lesson2/Task7/obj/Debug/Task7.exe
Lesson2/Task7/obj/Debug/Task7.pdb
Lesson2/Task7/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson2/Task7/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson2/Task7/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson2/Task7/Properties/AssemblyInfo.cs
Lesson2/Task7/Task7.csproj
Lesson-3/.vs/Lesson-3/v15/.suo
Lesson-3/.vs/Lesson-3/v15/Server/sqlite3/db.lock
Lesson-3/.vs/Lesson-3/v15/Server/sqlite3/storage.ide
Lesson-3/.vs/Lesson-3/v15/Server/sqlite3/storage.ide-shm
Lesson-3/.vs/Lesson-3/v15/Server/sqlite3/storage.ide-wal
Lesson-3/Lesson-3/bin/Debug/Lesson-3.exe
Lesson-3/Lesson-3/bin/Debug/Lesson-3.exe.config
Lesson-3/Lesson-3/bin/Debug/Lesson-3.pdb
Lesson-3/Lesson-3/bin/Debug/LessonsClassLibrary.dll
Lesson-3/Lesson-3/bin/Debug/LessonsClassLibrary.pdb
Lesson-3/Lesson-3/bin/Debug/LessonsClassLibrary.xml
Lesson-3/Lesson-3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson-3/Lesson-3/obj/Debug/Lesson-3.csproj.CoreCompileInputs.cache
Lesson-3/Lesson-3/obj/Debug/Lesson-3.csprojAssemblyReference.cache
Lesson-3/Lesson-3/obj/Debug/Lesson-3.exe
Lesson-3/Lesson-3/obj/Debug/Lesson-3.pdb
Lesson-3/Lesson-3/obj/Debug/Task3.csproj.CopyComplete
Lesson-3/Lesson-3/obj/Debug/Task3.csproj.CoreCompileInputs.cache
Lesson-3/Lesson-3/obj/Debug/Task3.csproj.FileListAbsolute.txt
Lesson-3/Lesson-3/obj/Debug/Task3.csprojAssemblyReference.cache
Lesson-3/Lesson-3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson-3/Lesson-3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson-3/Lesson-3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson-3/Task1/bin/Debug/LessonsClassLibrary.dll
Lesson-3/Task1/bin/Debug/LessonsClassLibrary.pdb
Lesson-3/Task1/bin/Debug/LessonsClassLibrary.xml
Lesson-3/Task1/bin/Debug/Task1.exe
Lesson-3/Task1/bin/Debug/Task1.exe.config
Lesson-3/Task1/bin/Debug/Task1.pdb
Lesson-3/Task1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson-3/Task1/obj/Debug/Task1.csproj.CopyComplete
Lesson-3/Task1/obj/Debug/Task1.csproj.CoreCompileInputs.cache
Lesson-3/Task1/obj/Debug/Task1.csproj.FileListAbsolute.txt
Lesson-3/Task1/obj/Debug/Task1.csprojAssemblyReference.cache
Lesson-3/Task1/obj/Debug/Task1.exe
Lesson-3/Task1/obj/Debug/Task1.pdb
Lesson-3/Task1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson-3/Task1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson-3/Task1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson-3/Task2/bin/Debug/LessonsClassLibrary.dll
Lesson-3/Task2/bin/Debug/LessonsClassLibrary.pdb
Lesson-3/Task2/bin/Debug/LessonsClassLibrary.xml
Lesson-3/Task2/bin/Debug/Task2.exe
Lesson-3/Task2/bin/Debug/Task2.exe.config
Lesson-3/Task2/bin/Debug/Task2.pdb
Lesson-3/Task2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson-3/Task2/obj/Debug/Task2.csproj.CopyComplete
Lesson-3/Task2/obj/Debug/Task2.csproj.CoreCompileInputs.cache
Lesson-3/Task2/obj/Debug/Task2.csproj.FileListAbsolute.txt
Lesson-3/Task2/obj/Debug/Task2.csprojAssemblyReference.cache
Lesson-3/Task2/obj/Debug/Task2.exe
Lesson-3/Task2/obj/Debug/Task2.pdb
Lesson-3/Task2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson-3/Task2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson-3/Task2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
