
Lesson1/Lesson1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lesson1/Lesson1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lesson1/Lesson1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lesson1/Lesson1/obj/Debug/Lesson1.csprojAssemblyReference.cache
Lesson1/Lesson1/obj/Debug/Lesson1.csproj.CoreCompileInputs.cache
Lesson1/Lesson1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson1/Lesson1/Lesson1.csproj
Lesson1/Lesson1/App.config
Lesson1/Lesson1.sln
Lesson1/.vs/Lesson1/v15/Server/sqlite3/storage.ide-wal
Lesson1/.vs/Lesson1/v15/Server/sqlite3/storage.ide-shm
Lesson1/.vs/Lesson1/v15/Server/sqlite3/storage.ide
Lesson1/.vs/Lesson1/v15/Server/sqlite3/db.lock
Lesson1/.vs/Lesson1/v15/.suo
Lesson1/Lesson1/Properties/AssemblyInfo.cs
